<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="shortcut icon" href="../img/nodejs-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2e032899e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-box">
                <i class="fab fa-html5 fa-2x"></i>
                <i class="fab fa-css3-alt fa-2x"></i>
                <i class="fab fa-js-square fa-2x"></i>
            </div>
            <ul class="navbar">
                <li class="navbar_link">
                    <a href="shop.html">Go Back</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="alert">
        <!-- <div class="content">
            <div class="box-message">
                <p>Un error alb</p> <i class="fas fa-times"></i>
            </div>
        </div> -->
    </div>
    <section class="content details">
    </section>
    <script src="../js/details.js"></script>
</body>
</html>