.content.details{
    max-height: auto;
}
.navbar_link a{
    text-decoration: none;
    color:inherit;
}

.card_desc{
    text-align: justify;
    padding: .5em 1em;
    margin-bottom: 1em;
}
.card_img.card_detail{
    transform: scale(.9);
}